@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 50px 60px 1100px 68px 1fr;
    grid-template-rows: 100px 325px 80px 335px 28px 75px 1fr;
}

body::-webkit-scrollbar {
    width: 0;
    height: 0;
}


video {
    position: fixed;
    width: 100vw;
    height: 100vh;
    object-fit: fill;
    z-index: -1;
}

.glow:hover{
    animation: pulse 1.5s linear infinite;
    cursor: pointer;
}

@keyframes pulse {
    0%, 100%{
        filter: drop-shadow(0 0 0px rgb(255, 220, 24));
    }
    50%{
        filter: drop-shadow(0 0 25px rgb(255, 220, 24));
    }
}
/*---------------------------------------------------------------Menu------------------------------------------------------------------------------*/
.menu{
    position: relative;
    margin-left: 160px;
    width: 400px;
    height: 700px;
    pointer-events: auto;
}

.menu.hide{
    pointer-events: none;
}

#home{
    position: absolute;
    top: 3%;
    left: -6.5%;
    transform: scale(0.91, 0.80);
}

#about{
    position: absolute;
    top: 15.3%;
    left: 24%;
    transform: scale(0.91, 0.80);

}

#socials{
    position: absolute;
    top: 31.5%;
    left: -15%;
    transform: scale(0.91, 0.80);
}

#projects{
    position: absolute;
    top: 38.8%;
    left: 36%;
    transform: scale(0.91, 0.80);
    
}
.screen{
    grid-column: 1/-1;
}
/*------------------------------------------------------------Socials------------------------------------------------------------------------------*/
#screen-socials{
    position: relative;
    width: 1739px;
    height: 745px;
    transform-origin: center 200%;
    transform: rotate(180deg);
}

#screen-socials.active{
    animation: enter 1s linear forwards;
}

#screen-socials.hide{
    animation: leave 1s linear forwards;

}

#panel{
    position: absolute;
    transform: scale(0.90);
    top: -19.5%;
    left: -5%;
}

#panelsocial{
    position: absolute;
    grid-column: 4;
    transform: scale(0.90);
    top: -2.5%;
    left: 61.15%;
}

.socialicon{
    position: absolute;
    transform: scale(0.90);
}

#passportdex{
    top: 10%;
    left: 2.5%;
}

#steam{
    top: 17.5%;
    left: 11.5%;
}

#github{
    top: 5.75%;
    left: 18.75%;
}

#backloggd{
    top: 15.5%;
    left: 28%;
}

#myanimelist{
    top: 0.25%;
    left: 35.5%;
}

#soundcloud{
    top: 13%;
    left: 44.75%;
}

#pinterest{
    top: 1%;
    left: 52.5%;
}

#socials-go-back{
    position: absolute;
    top: 92%;
    left: 3%;
    width: 1195px;
    height: 65px;
    border-radius: 50px;
}

#socials-go-back:hover{
    cursor: pointer;
}

@keyframes enter{
    0%, 50%{
        transform: rotate(180deg);
    }

    50%, 100%{
        transform: rotate(360deg);
    }
}

@keyframes leave{
    0%, 50%{
        transform: rotate(360deg);
    }

    50%, 100%{
        transform: rotate(540deg);
    }
}