@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 50px 60px 1100px 68px 1fr;
    grid-template-rows: 100px 325px 80px 335px 28px 75px 1fr;
}

body::-webkit-scrollbar {
    width: 0;
    height: 0;
}


video {
    position: fixed;
    width: 100vw;
    height: 100vh;
    object-fit: fill;
    z-index: -1;
}

.glow:hover{
    animation: pulse 1.5s linear infinite;
    cursor: pointer;
}

@keyframes pulse {
    0%, 100%{
        filter: drop-shadow(0 0 0px rgb(255, 220, 24));
    }
    50%{
        filter: drop-shadow(0 0 25px rgb(255, 220, 24));
    }
}
/*---------------------------------------------------------------Menu------------------------------------------------------------------------------*/
.menu{
    position: absolute;
    grid-column: 2  ;
    top: 3.40%;
    left: 9%;
    width: 400px;
    height: 700px;
    pointer-events: auto;
}

.menu.hide{
    pointer-events: none;
}

#home{
    transform: scaleY(0.90);
}

#about{
    position: absolute;
    top: 13.75%;
    left: 33%;
    transform: scaleY(0.90);

}

#socials{
    position: absolute;

    top: 31%;
    left: -9%;
    transform: scaleY(0.90);
}

#projects{
    position: absolute;
    top: 39.5%;
    left: 45%;
    transform: scaleY(0.90);
    
}
/*------------------------------------------------------------Socials------------------------------------------------------------------------------*/
#screen-socials{
    grid-column: 1/-1;
    position: relative;
    width: 1739px;
    height: 745px;
    transform-origin: center 200%;
    transform: rotate(180deg);
}

#screen-socials.active{
    animation: enter 1s linear forwards;
}

#screen-socials.hide{
    animation: leave 1s linear forwards;

}

#panelsocial{
    position: absolute;
    grid-column: 4;
    top: 15.9%;
    left: 69.65%;
}

.socialicon{
    position: absolute;
}

#passportdex{
    top: 27.5%;
    left: 3.25%;
}

#steam{
    top: 35%;
    left: 13.3%;
}

#github{
    top: 22.5%;
    left: 21.5%;
}

#backloggd{
    top: 33%;
    left: 31.75%;
}

#socials-go-back{
    position: absolute;
    top: 116.5%;
    left: 3%;
    width: 1335px;
    height: 75px;
    border-radius: 50px;
}

#socials-go-back:hover{
    cursor: pointer;
}

@keyframes enter{
    0%, 50%{
        transform: rotate(180deg);
    }

    50%, 100%{
        transform: rotate(360deg);
    }
}

@keyframes leave{
    0%, 50%{
        transform: rotate(360deg);
    }

    50%, 100%{
        transform: rotate(540deg);
    }
}