@charset "UTF-8";

@font-face {
    font-family: 'Mencken Bold';
    src: url(../Fonts/Mencken/fonnts.com-Mencken-Std-Narrow-Extra-Bold.otf);
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 1fr 100px;
}

.text{
    font-family: 'Mencken Bold';
}
/* ---------------------------------------------------------------------Menu-----------------------------------------------------------------------*/
.menu{
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
    align-self: center;
    transition: 1s ease;
}

.menu #logo{
    justify-self: center;
    align-self: center;
    height: 347px;
    width: 333px;
    margin-top: 50px;
    animation: spin 10s linear infinite;
}

.options{
    align-self: center;
    display: grid;
    grid-template-columns: 325px auto;
    grid-template-rows: 150px 150px;
    margin-top: -220px;
    margin-left: -75px;
}

.menu.hide{
    transform: translateY(-1000px);
}

#home{
    margin-left: 80px;
    margin-top: 50px;
}

#about{
    grid-row: 2;
    margin-left: 128px;
    margin-top: 35px;
}

#socials{
    grid-row: 2;
    grid-column: 2;
    margin-top: 40px;
    margin-left: 60px;
}

#projects{
    margin-left: 180px;
    margin-top: 25px;
}

.glow:hover{
    filter: drop-shadow(0 0 5px white);
    cursor: pointer;
}


@keyframes spin{
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
/*--------------------------------------------------------------------Opções------------------------------------------------------------------------*/
.options-back{
    grid-column: 1;
    grid-row: 1;
    display: flex;
    margin-top: -5px;
    margin-left: 10px;
    gap: 15px;
    transition: 1s ease;
    transform: translateY(-100px);
}

.options-back.show{
    transform: translate(0px);
}

.options-back p{
    color: white;
    font-size: 32pt;
}

.screen{
    grid-column: 1 / 4;
    grid-row: 2;
    justify-self: center;
    align-self: center;
}
/*-----------------------------------------------------------About---------------------------------------------------------------------------------*/
#screen-about{
    color: white;
    text-align: justify;
    transition: 1s ease;
    font-size: 32pt;
    transform: translateY(-1000px);
}

#screen-about.active{
    transform: translateY(0px);
}
/*-----------------------------------------------------------About---------------------------------------------------------------------------------*/
#screen-socials{
    position: absolute;
    top: 11%;
    left: 2%;
    transform: translateY(-1500px);
    transition: 1s ease;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    height: 800px;
}
#screen-socials.active{
    transform: translateY(0px);
    
}

.social{
    width: 397px;
    height: 245px;
}

.social:hover{
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.747));
    cursor: pointer;
}
